.mainColor{
  background-color: #802c6e;
}
.cart{
  font-size: 19px;
}
.cart span{
  padding: 0 10px;
}
.cartBadge{
  position: absolute;
  top:-10px;
  left: 145px;
}
.cartTitle{
  min-height: 120px;
}
.cartItems, .price{
  color: #802c6e;
  font-weight: bold;
}
.cartImage {
  width: 30%;
}
.cartImage img{
  width: 100%;
}
.cartAction{
  width: 70%;
}
.price{
  font-size: 30px;
}
.prrice{
  font-weight: bold;
}


